html {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: #f8f8f7;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(54, 137, 204), rgb(82, 82, 80));
}
#navbar {
display: inline-flex;
position: fixed;
margin: 0;
border: 3px solid black;
top: 0;
width: 100%;
overflow:auto;
background-color: #535252;
max-height: 50px;
}
a {
    text-align: center;
    font-size: 200%;
    width: 100%;
    font-family: fantasy;
}
a:link {
    overflow: hidden;
    padding: auto;
    margin-left: 2rem; 
    text-decoration: none; 
    color: rgb(68, 161, 161);
}
a:active {
    color: azure;
}
a:visited {
    color: rgb(157, 175, 175);
}
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    aspect-ratio: auto;
    margin-top: 50px;
}
